/* document styling */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FFFFFF;
    font-family: "Montserrat", sans-serif; 
    font-size: 20px;
    color: #104C6C;
    line-height: 1.5;
    margin: 0;
  }

header, footer {
    background-color: #FFFFFF;  
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #104C6C;
}

a:hover {
    color: #D41425;
    transition: color .3s ease;
}

p {
    font-size: 16px;
}

.important {
    color: #D41425;
    font-family: 'Amaranth', sans-serif;
    font-size: 24px;
}

.clear {
    clear: both;
}

/* header styling */

header {
    display: block;
    border-bottom: 1px solid #104C6C;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    margin: 0;
}

#title {
    display: inline-block;
}

nav > * {   
    text-align: center;
}

#nav-bar-items {
    width: 300px;
    padding: 0px;
    margin: 0 auto;
}

.nav-bar-item {
    margin: 20px 20px;
    line-height: 30px; 
}

/* main styling */

main {
    width: 280px;
    margin: 0 auto;
}

#about {
    padding: 100px 0 120px 0;
    margin-top: 180px;
    border-bottom: 1px solid #104C6C;
}

.project-imgs {
    width: 100%;
    position: relative;
}

.project-img {
    max-width:100%;
    max-height:100%;
}

.project-title {
    margin-top: 0;
}

.project-techs {
    font-weight: bold;
    font-style: italic;
    color:  #D41425;
}

.project-links {
    margin-right: 20px;
    border-right: 1px solid #104C6C;
    float: left;
}

.project-link {
    font-size: 16px;
    margin-right: 20px;
}

.projects {
    padding: 120px 0;
    margin: 0;  
}

#proj-1 {
    border-bottom: 1px solid #104C6C;
}

/* footer styling */

footer {
    font-size: 30px;
    padding: 0;
    margin-top: 20px;
    border-top: 1px solid #104C6C;
}

address {
    width: 200px;
    margin: 0 auto;
}

.contact-icons {
    margin: 0 auto;
    padding: 0;
}

.contact-icons > * {
    display: inline-block;
    margin: 20px 30px;
}

/* media quieries */

@media only screen and (min-width: 420px) {
    main {
        width: 380px; 
    }
}

@media only screen and (min-width: 600px) {
    header {
        display: inline-flex;
        justify-content: space-evenly;
        padding: 0px;
    }

    #nav-bar-items {
        display: inline-flex;
        justify-content: space-evenly;
        list-style: none;
        padding: 0px;
        margin: 0;
    }

    #about {
        margin-top: 70px;
    }

    main {
        width: 500px;
    }
}

@media only screen and (min-width: 800px) {
    main {
        width: 50%;
    }
}

@media only screen and (min-width: 1300px) {
    main {
        width: 38%;
    }
}